#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

.section {
  background: #efefef;
}

.title h2 {
  border-bottom-style: solid;
}

.title {
  cursor: pointer;
}

.title:hover {
  background: #ddd;
}

.section.collapsed > .description {
  display: none;
}

.slider {
  position: relative;
  width: 650px;
}

.slide-image {
  width: 650px;
  height: 430px;
}

.hidden {
  display: none;
}

.change {
  position: absolute;
  top: 50%;
  font-size: 22px;
  padding: 5px;
}

.next {
  right: 0;
}

.random {
  margin-bottom: 5px;
}

.comment {
  background: white;
  margin: 5px;
}

.date {
  font-style: italic;
}

.author-name {
  font-weight: bold;
}

#to-page {
  width: 5%;
}